* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

  }
 body {
      min-width: 500px;
      background-color: #e0eeee;
 }
 
.profileBody{
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 590px;
}
  
.heading
{	
	margin-bottom:20;
	line-height: 1;
	text-align: left;
}

.info{
	font-size: 15;
	text-align: center;
}


.seprator{
	width:10;
	background:white;
}

h4{
	margin-bottom:5;
}
hr{
	margin-top:5;
}